Repository bisq-network/bisq2, pull requests merged in 2024-08, with the labels that each got.

#2583 Make Bisq Easy offer message more visual
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/chat/message_container/list/ChatMessageListItem.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/chat/message_container/list/message_box/BubbleMessageBox.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/chat/message_container/list/message_box/MyOfferMessageBox.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/chat/message_container/list/message_box/PeerOfferMessageBox.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/components/ReputationScoreDisplay.java
  apps/desktop/desktop/src/main/resources/css/chat.css
  apps/desktop/desktop/src/main/resources/css/images.css
  apps/desktop/desktop/src/main/resources/images/icons/interchangeable-green.png
  apps/desktop/desktop/src/main/resources/images/icons/interchangeable-green@2x.png
  apps/desktop/desktop/src/main/resources/images/icons/interchangeable-grey.png
  apps/desktop/desktop/src/main/resources/images/icons/interchangeable-grey@2x.png
  apps/desktop/desktop/src/main/resources/images/icons/interchangeable-white.png
  apps/desktop/desktop/src/main/resources/images/icons/interchangeable-white@2x.png
  i18n/src/main/resources/chat.properties
Labels: ui

#2586 UI fixes
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/bisq_easy/offerbook/BisqEasyOfferbookController.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/chat/message_container/list/message_box/BubbleMessageBox.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/chat/message_container/list/message_box/PeerOfferMessageBox.java
Labels: ui

#2628 Only bind servers to all interfaces on Whonix
  network/tor/tor/src/main/java/bisq/tor/TorService.java
Labels: security, improvement, tor, whonix

#2629 packaging: Add Windows MSI support
  build-logic/packaging/src/main/kotlin/bisq/gradle/packaging/jpackage/package_formats/PackageFormat.kt
  build-logic/packaging/src/main/kotlin/bisq/gradle/packaging/jpackage/package_formats/WindowsPackage.kt
Labels: deployment, improvement, packaging

#2630 bitcoind: Download and verify SHA256SUMS file
  build-logic/bitcoin-core-binaries/build.gradle.kts
  build-logic/bitcoin-core-binaries/src/main/kotlin/bisq/gradle/bitcoin_core/BitcoinCoreHashFileUrlProvider.kt
  build-logic/bitcoin-core-binaries/src/main/kotlin/bisq/gradle/bitcoin_core/BitcoinCorePlugin.kt
  build-logic/bitcoin-core-binaries/src/main/kotlin/bisq/gradle/bitcoin_core/BitcoinCorePluginExtension.kt
  build-logic/bitcoin-core-binaries/src/main/resources/0xb10c.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/CoinForensics.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/Emzy.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/Sjors.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/TheCharlatan.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/achow101.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/benthecarman.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/cfields.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/darosior.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/davidgumberg.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/dunxen.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/fanquake.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/glozow.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/guggero.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/hebasto.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/jackielove4u.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/josibake.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/kvaciral.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/laanwj.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/luke-jr.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/m3dwards.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/pinheadmz.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/satsie.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/sipa.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/svanstaa.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/theStack.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/vertiond.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/willcl-ark.gpg
  build-logic/bitcoin-core-binaries/src/main/resources/willyko.gpg
  build-logic/settings.gradle.kts
Labels: build-system, wallet, bitcoin-core

#2644 Improve mediation buttons
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/bisq_easy/open_trades/trade_state/TradePhaseBox.java
  apps/desktop/desktop/src/main/resources/css/bisq_easy.css
  apps/desktop/desktop/src/main/resources/css/images.css
  apps/desktop/desktop/src/main/resources/images/icons/icon-wallet-white.png
  apps/desktop/desktop/src/main/resources/images/icons/icon-wallet-white@2x.png
Labels: ui
