Repository bisq-network/bisq2, pull requests merged in 2024-05, with the labels that each got.

#2138 Fix reputation data EqualsAndHashcode
  user/src/main/java/bisq/user/reputation/data/AuthorizedAccountAgeData.java
  user/src/main/java/bisq/user/reputation/data/AuthorizedBondedReputationData.java
  user/src/main/java/bisq/user/reputation/data/AuthorizedProofOfBurnData.java
  user/src/main/java/bisq/user/reputation/data/AuthorizedSignedWitnessData.java
  user/src/main/java/bisq/user/reputation/data/AuthorizedTimestampData.java
Labels: bug

#2134 Improvements in Offer List
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/bisq_easy/offerbook/BisqEasyOfferbookController.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/bisq_easy/offerbook/BisqEasyOfferbookModel.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/bisq_easy/offerbook/BisqEasyOfferbookView.java
  apps/desktop/desktop/src/main/java/bisq/desktop/main/content/bisq_easy/offerbook/OfferMessageItem.java
  settings/src/main/java/bisq/settings/SettingsService.java
  settings/src/main/java/bisq/settings/SettingsStore.java
  settings/src/main/proto/settings.proto
Labels: ui, improvement

#2139 Connect to running Tor on Whonix
  common/src/main/java/bisq/common/util/OsUtils.java
  network/tor/tor/src/main/java/bisq/tor/TorService.java
  network/tor/tor/src/main/java/bisq/tor/controller/NativeTorController.java
Labels: tor, whonix

#2140 Remove legacy external Tor key generation
  network/network/src/main/java/bisq/network/p2p/node/transport/TorTransportService.java
  network/tor/tor/src/main/java/bisq/tor/TorService.java
  network/tor/tor/src/main/java/bisq/tor/controller/NativeTorController.java
  network/tor/tor/src/main/java/bisq/tor/onionservice/OnionServicePublishService.java
  security/src/main/java/bisq/security/keys/TorKeyGeneration.java
  security/src/main/java/bisq/security/keys/TorKeyPair.java
Labels: refactoring, tor

#2141 OnionServicePublishService: Remove unused constructor argument
  network/tor/tor/src/main/java/bisq/tor/TorService.java
  network/tor/tor/src/main/java/bisq/tor/onionservice/OnionServicePublishService.java
Labels: refactoring, tor

#2142 Fix Local Tor Network Setup with ControlPort
  network/tor/tor-common/src/main/java/bisq/network/tor/common/torrc/BaseTorrcGenerator.java
  network/tor/tor-local-network/src/integrationTest/java/bisq/tor/local_network/DirectoryAuthorityKeyGenerationTests.java
  network/tor/tor-local-network/src/integrationTest/java/bisq/tor/local_network/DirectoryAuthorityTests.java
  network/tor/tor-local-network/src/main/java/bisq/tor/local_network/TorNetwork.java
  network/tor/tor-local-network/src/main/java/bisq/tor/local_network/TorNode.java
  network/tor/tor-local-network/src/test/java/bisq/tor/local_network/DirectoryAuthorityTorrcGeneratorTests.java
  network/tor/tor-local-network/src/test/java/bisq/tor/local_network/RelayTorrcGeneratorTests.java
  network/tor/tor/src/main/java/bisq/tor/TorService.java
  network/tor/tor/src/main/java/bisq/tor/TorrcClientConfigFactory.java
  network/tor/tor/src/main/java/bisq/tor/process/NativeTorProcess.java
Labels: bug, tor

#2160 Tor: Ignore OS-wide torrc config
  network/tor/tor/src/main/java/bisq/tor/process/NativeTorProcess.java
Labels: bug, tor

#2205 Detect filtered Tor controller commands
  network/tor/tor/src/main/java/bisq/tor/controller/TorCommandFilteredException.java
  network/tor/tor/src/main/java/bisq/tor/controller/WhonixTorController.java
  security/src/main/java/bisq/security/keys/TorKeyPair.java
Labels: tor, whonix

#2210 Use embedded binary for local Tor network
  network/tor/tor-local-network/build.gradle.kts
  network/tor/tor-local-network/src/main/java/bisq/tor/local_network/TorNetwork.java
Labels: improvement, tor

#2216 WhonixTorController: Implement AUTHENTICATE command
  network/tor/tor/src/main/java/bisq/tor/controller/TorControlAuthenticationFailed.java
  network/tor/tor/src/main/java/bisq/tor/controller/WhonixTorController.java
Labels: tor
